.footer {
  background-color: #3f51b5;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer a {
  color: #ffeb3b;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}